body {
  background-color: #383838;
}

#columna1,
#columna3 {
  z-index: 1;
}

#columna2 {
  z-index: 2;

}

h1{
  color: white;
}

.login {
  position: relative;
  top: 20px;
  display: flex;
  justify-content: center;
  background: rgba(255, 255, 255, 0.53);
  border-radius: 5px;
  padding: 60px;
}

.head h1{
  position: relative;
  top: -40px;
  font-size: 1.4rem;
}
.body{
  font-size: 1rem;
}

.form-control{
  margin-bottom: 20px;
}

#checkButton{
  border-radius: none !important;
  border-color:#383838; 
}

.body label{
  font-size: 1.0rem;
}

.body input{
  font-size: 0.9rem;
  border-radius: 5px;
  border-color: #383838;
  background: rgba(255, 255, 255, 0.53);
}

#btn-ingresar{
  width: 75% !important; 
  background-color: #383838;
  border-color: #383838;
  border-radius: 5px;
}

.body a{
  color: black;
}

.icons {
  display: flex;
  justify-content: space-between; 
}
