/* login.css */

body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(135deg, #4f8cff, #e285fd);
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 90%;
  max-width: 800px; /* Aumentado para ser más ancho */
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border-radius: 20px;
}

.glass {
  background: rgba(255, 255, 255, 0.15);
  border-radius: 20px;
  padding: 20px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.18);
  width: 100%;
  text-align: center;
}

.glass h1 {
  color: #fff;
  font-size: 2rem;
  margin-bottom: 15px;
}

.form-group {
  margin-bottom: 15px;
}

.form-group input {
  background: rgba(255, 255, 255, 0.3);
  border: none;
  border-radius: 10px;
  padding: 10px;
  width: 100%;
  color: #fff;
  font-size: 1rem;
}

#btn-ingresar {
  background-color: #4f8cff;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  width: 100%;
  font-size: 1.1em;
  transition: all 0.3s ease-in-out;
  margin-top: 15px;
}

#btn-ingresar:hover {
  background-color: #366fcc;
}

a {
  color: #fff;
  text-decoration: none;
  font-size: 0.9em;
}

a:hover {
  text-decoration: underline;
}

#Logotype img {
  max-width: 150px;
  margin-top: 20px;
}

@media (max-width: 768px) {
  .glass {
    padding: 15px;
    width: 90%;
  }

  .glass h1 {
    font-size: 1.8rem;
  }

  #btn-ingresar {
    font-size: 1em;
  }
}
