.registro {
  position: relative;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  background: rgba(109, 107, 109, 0.584);
  border-radius: 45px;
  padding: 60px;
}

#head {
  position: absolute;
  top: 45px;
  left: 60px;
  z-index: 3;
}

.form-group-register{
  position: relative;
  left: 60px;
}

#head h1 {
  position: relative;
  left: 40px;
  color: #fff;
  text-align: center;
  font-size: 2.5rem;
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
  margin-top: -40px;
}

#btn-registrar {
  position: relative;
  width: 40% !important;
  height: 40px;
  top: 230px;
  left: -100px;
  background-color: #383838;
  border-color: #383838;
  border-radius: 5px;
}


#Logotyp {
   
  position: absolute;
  top: -40px; 
  right: -105px;
  z-index: -1; 
  background-color: transparent; 
}
