.registro {
  position: relative;
  margin-top: 20px; /* Puedes ajustar el valor según tus necesidades */
  display: flex;
  justify-content: center;
  background: rgba(255, 255, 255, 0.53);
  border-radius: 5px;
  padding: 60px;
}
