
#avatar {
  width: 200px;
  height: 200px;
}


#data p{
  color:aliceblue;
}

#data strong{
  color: rgb(20, 7, 7);
}

.infoData input:-webkit-autofill {
  -webkit-text-fill-color: aliceblue; 
  transition: background-color 5000s ease-in-out 0s; 
}


.infoData input {
  background-color: transparent;
  border: 3px solid transparent; /* Añade un borde transparente por defecto */
  color: aliceblue;
  transition: background-color 0.3s ease, border-color 0.3s ease;
}

.infoData input:focus {
  background-color: transparent;
  outline: none;
  border-color: purple; 
  border-radius: 10px;
}




.infoData p{
  text-align: left; 
  margin: 0; 
  margin-bottom: 10px
}


input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.infoData strong {
  display: block; 
  margin-bottom: 5px; 
}



